@import "./_custom.scss";

body {
	font-family: "canada-type-gibson", sans-serif;
	font-size: 16px;
	font-display: swap;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
	background-color: $red !important;
}

.btn-primary {
	background-color: $red;
	border: none;
	color: #ffffff;
	font-weight: 600;
	font-style: normal;
	font-size: 18px;
	text-align: center;
	padding: 11px 30px 11px 30px;
	letter-spacing: 0;
	border-radius: 0;
}

h1 {
	font-weight: bold;
	font-size: 48px;
	letter-spacing: 0.75px;
	text-align: center;
	color: fff;
}

#header {
	.navbar {
		padding: 0;
		height: 110px !important;
	}
	.navbar-light .navbar-nav .nav-link,
	.navbar-light .nav-item.active .nav-link,
	.navbar-light .nav-item:focus .nav-link {
		color: $red;
		font-size: 18px;
		line-height: 29px;
		padding: 20px;
		font-weight: 600;
		font-style: normal;
		letter-spacing: 0;
	}

	.navbar-light .nav-item:hover .nav-link {
		text-decoration: none;
		color: $red;
	}

	.navbar-title {
		color: $red;
		font-size: 29px;
		font-weight: bold;
		letter-spacing: 0.81px;
		line-height: 32px;
	}
}

#hero {
	background-image: url("../../assets/img/Home-team-hi.jpg");
	margin-top: 110px;
	min-height: 832px;
	margin-top: 100px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	background-repeat: no-repeat;
}

#hero h1 {
	margin-top: 100px;
	color: #fff;
}

.darkLayer {
	background-color: rgba(0, 0, 0, 0.67);
	width: 100%;
	height: 100%;
	min-height: 832px;
}

.heroCopy {
	color: #fff;
}

@media screen and (max-width: 600px) {
	#hero {
		margin-top: 300px;
		margin-top: 100px;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		background-repeat: no-repeat;
	}

	#hero h1 {
		margin-top: 50px;
		color: #fff;
	}

	#header {
		.navbar-title {
			color: $red;
			font-size: 20px;
			font-weight: bold;
		}
	}
}
